
@media (max-width: 1199px) {
    /*******MENU******/
    .main-header-navigation{
        position: relative;
    }

    .menu-hamburger-button:after{
        position: absolute;
        display: block;
        content:"\2261";
        top: 10%;
        left: -40%;
        font-size: 50px;
 }
    .menu-dropdown{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
  }

    .main-header .slides {
    background-image: none;
}
    .main-header .slides .button {
    display: block;
    padding-top: 30px;
}
    .main-header .slider-items b {
    font-size: 60px;
    line-height: 64px;
}
.slider .controls {
    top: 330px;
}

    /*******features******/
    .features {
        padding-left: 10px;
        padding-right: 10px;
    }
    .features-list {
        flex-wrap: wrap;
        justify-content: center;
    }

/*******.about-us******/
    .about-us {
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
    }

}

