
@media (min-width: 992px) and (max-width: 1199px) {
    /*******MENU******/
    .main-header-navigation{
        position: relative;
    }

    .menu-hamburger-button:after{
        position: absolute;
        display: block;
        content:"\2261";
        top: 10%;
        left: -40%;
        font-size: 50px;
 }
    .menu-dropdown{
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
  }

    /*******features******/
    .features {
        padding-left: 10px;
        padding-right: 10px;
    }
    .features-list {
        flex-wrap: wrap;
        justify-content: center;
    }

/*******.about-us******/
    .about-us {
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .main-header-navigation {
        position: relative;
    }

    .main-header-navigation:after {
        position: absolute;
        display: block;
        content: "\2261";
        top: 10%;
        left: 90%;
        font-size: 50px;
    }
    .menu-dropdown{
        display: none;
    }
    
    .slider b {
        font-size: 24px;
        line-height: 30px;
    }
    .slider p {
        font-size: 14px;
        line-height: 20px;
    }

    /*******features******/
    .features {
        padding-left: 10px;
        padding-right: 10px;
    }
    .features-list {
        flex-wrap: wrap;
        justify-content: center;
    }

        /*******.about-us******/
    .about-us {
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
    }


    
}
@media (max-width: 767px) {

    .main-header-navigation {
        position: relative;
    }

    .main-header-navigation:after {
        position: absolute;
        display: block;
        content: "\2261";
        top: 10%;
        left: 90%;
        font-size: 50px;
    }
    .menu-dropdown{
        display: none;
    }
    
    .slider b {
        font-size: 24px;
        line-height: 30px;
    }
    /*******features******/
    .features {
        padding-left: 10px;
        padding-right: 10px;
    }
    .features-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    /*******.about-us******/
    .about-us {
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
    }

}
@media (max-width: 480px) {

    .main-header-navigation {
        position: relative;
    }

    .main-header-navigation:after {
        position: absolute;
        display: block;
        content: "\2261";
        top: 10%;
        left: 90%;
        font-size: 50px;
    }
    .menu-dropdown{
        display: none;
    }
    .slider b {
        font-size: 16px;
        line-height: 20px;
    }
    /*******features******/
    .features {
        padding-left: 10px;
        padding-right: 10px;
    }
    .features-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    /*******.about-us******/
    .about-us {
        flex-wrap: wrap;
        justify-content: center; 
        padding-left: 10px;
        padding-right: 10px;
    }
}